* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: #BF7506;
  margin-left: 24px;
  font-size: 16px;
  line-height: 150%;
}

.nav-link.active {
  font-weight: 700;
}

.container {
  max-width: 870px;
  width: 100%;
  margin: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 0px;
}
.header-text {
  margin-left: 27px;
}
.header-strong {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
}
.header-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  margin-top: 15px;
  margin-bottom: 24px;
}
.header-primary {
  color: #BF7506;
}
.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-list {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-link {
  display: inline-block;
  padding: 8px;
}

.cv-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 7px 8px;
  margin-left: 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #211B12;
  border-bottom: 2px solid #BF7506;
}

.cv-icon {
  margin-right: 10px;
}

.section-heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #BF7506;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  max-width: 400px;
}
.card-text-wrapper {
  padding: 16px;
}
.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #BF7506;
  margin-top: 0;
  margin-bottom: 8px;
}
.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #211B12;
}
.card-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 8px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #211B12;
  border-bottom: 2px solid #BF7506;
  margin-right: 25px;
}
.card-button-icon {
  margin-right: 4px;
}

.tags {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tag {
  padding: 4px 8px;
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-decoration: none;
  color: #211B12;
  background: #FFFFFF;
  border: 1px solid #DD9C3C;
  border-radius: 4px;
  margin-right: 4px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0 20px;
}
.developer-photo {
  width: 360px;
  height: 440px;
  border-radius: 20px;
}
.developer-about {
  margin-left: 55px;
}
.developer-hello {
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #211B12;
}
.developer-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #BF7506;
  margin-top: 4px;
  margin-bottom: 16px;
}
.developer-sing {
  max-width: 200px;
}

.motto {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #DD9C3C;
  margin: 16px 0;
}

.skills {
  padding: 20px 0;
}

.skills-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  color: #211B12;
}

.feedback {
  padding: 80px 0 160px;
}

.input {
  border: 3px solid #E0DEDC;
  border-radius: 4px;
  width: 435px;
  height: 56px;
}
.input-group {
  position: relative;
  padding-top: 9px;
  margin-bottom: 24px;
}
.input-label {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #83807C;
  padding: 0 8px;
  background-color: #ffffff;
  top: 0;
  left: 16px;
}

.textarea {
  min-height: 140px;
}

.form-container {
  max-width: 435px;
  margin: auto;
}

.submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 7px 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #211B12;
  border: none;
  border-bottom: 2px solid #BF7506;
  background-color: #fff;
  cursor: pointer;
}

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
